{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block body %}
<div class="container p-2 text-center justify-content-center">
    {% if process == "connect" %}
        <h1 class="mb-3 mt-5 font-banner">{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
        <p class="lead font-main mb-4">
            {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
        </p>
    {% else %}
        <h1 class="mb-3 mt-5 font-banner">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>
        <p class="lead font-main mb-4">
            {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}
        </p>
    {% endif %}
    
    <form method="post" class="col-10 offset-1 col-md-6 offset-md-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-custom font-cta mt-3">{% trans "Continue" %}</button>
    </form>
</div>
{% endblock %}