{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block title %}
    {% trans "Sign Out" %}
{% endblock title %}

{% block body %}
<div class="container p-2 text-center justify-content-center">
    <h1 class="mb-3 mt-5 font-banner">{% trans "Sign Out" %}</h1>

    <p class="lead font-main mb-4">
        {% trans 'Are you sure you want to sign out?' %}
    </p>

    <form method="post" action="{% url 'account_logout' %}" class="col-10 offset-1 col-md-6 offset-md-3">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit" class="btn btn-outline-custom font-cta mt-3">{% trans 'Sign Out' %}</button>
    </form>
</div>
{% endblock body %}