{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block body %}
<div class="container p-2 text-center justify-content-center">
    <h1 class="mb-3 mt-5 font-banner">{% trans "Password Reset" %}</h1>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="lead font-main">
        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder.{% endblocktrans %}
    </p>

    <a href="{% url 'account_login' %}" class="btn btn-outline-custom font-cta mt-3">
        {% trans "Return to Login" %}
    </a>
</div>
{% endblock body %}