{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block body %}
<div class="container p-2 text-center justify-content-center">
    <h1 class="mb-3 mt-5 font-banner">{% trans "Change Password" %}</h1>
    
    <p class="lead font-main mb-4">
        {% trans 'Your password is now changed.' %}
    </p>
    
    <a href="{% url 'account_login' %}" class="btn btn-outline-custom font-cta mt-3">
        {% trans "Return to Login" %}
    </a>
</div>
{% endblock body %}