{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}

{% block body %}
<div class="container p-2 text-center justify-content-center">
    <h1 class="mb-3 mt-5 font-banner">{% trans "Set Password" %}</h1>

    <p class="lead font-main mb-4">
        {% blocktrans %}You haven't set a password for your account yet. Please set one now to secure your account.{% endblocktrans %}
    </p>

    <form method="POST" action="{% url 'account_set_password' %}" class="col-10 offset-1 col-md-6 offset-md-3">
        {% csrf_token %}
        {{ redirect_field }}

        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label font-main">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" 
                       name="{{ field.name }}" 
                       id="{{ field.id_for_label }}" 
                       class="form-control"
                       {% if field.field.required %}required{% endif %}>
                {% if field.errors %}
                    <div class="text-danger">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-outline-custom font-cta mt-3">{% trans "Set Password" %}</button>
    </form>
</div>
{% endblock body %}