{% extends "base.html" %}
{% load allauth i18n %}
{% load account socialaccount %}

{% block title %}
Sign up
{% endblock %}

{% block body %}
<div class="container p-2 text-center justify-content-center">
    <h1 class="mb-3 mt-5">{% trans "Sign Up" %}</h1>

    <p class="lead">
        Already have an account? Please <a class="link" href="{% url 'account_login' %}">sign in</a>.
    </p>

    {% if not SOCIALACCOUNT_ONLY %}
    <form method="post" action="{% url 'account_signup' %}" class="form-signup">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <input type="hidden" name="next" value="{{ redirect_field }}">
        <button type="submit" class="btn btn-success">{% trans "Sign Up" %}</button>
    </form>
    {% endif %}

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <div class="mt-4">
        <p>{% trans "Or sign up with:" %}</p>
        <div class="socialaccount_ballot">
            {% for provider in socialaccount_providers %}
                {% if provider.id == "google" %}
                    <a href="{% provider_login_url provider.id process='login' scope=scope auth_params=auth_params %}"
                       class="btn btn-outline-dark">
                        <img src="https://img.icons8.com/color/16/000000/google-logo.png" alt="Google icon">
                        Sign up with Google
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}


</div>
{% endblock body %}