{% extends "base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock %}

{% block body %}
<div class="container p-2 text-center justify-content-center">
    <h1 class="mb-3 mt-5 font-banner">{% trans "Verify Your Email Address" %}</h1>

    <p class="lead font-main">
        {% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}
    </p>

    <a href="{% url 'account_email' %}" class="btn btn-outline-custom font-cta mt-3">
        {% trans "Re-send Verification Email" %}
    </a>
</div>
{% endblock %}