{% extends "base.html" %}
{% load static %}

{% block title %}
Page Not Found - Sugra Games
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="font-banner mb-4 text-yellow">404 - Page Not Found</h1>
            
            <p class="font-main mb-4">
                Looks like this level doesn't exist! The princess must be in another castle... 
            </p>
            
            <a href="{% url 'index' %}" class="btn btn-outline-custom font-cta bg-main text-yellow">
                Return to Store
            </a>
        </div>
    </div>
</div>
{% endblock %}