{% extends "base.html" %}
{% load static %}

{% block title %}
Server Error - Sugra Games
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="font-banner mb-4 text-yellow">500 - Server Error</h1>
            
            <p class="font-main mb-4">
                Our server took unexpected damage! 
                <br><br>
                The dev team is frantically mashing buttons trying to restore our HP (Hosting Power).
                Please wait while we respawn the server.
            </p>
            
            <a href="{% url 'index' %}" class="btn btn-outline-custom font-cta bg-main text-yellow">
                Return to Store
            </a>
        </div>
    </div>
</div>
{% endblock %}