{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="font-banner">About Sugra Games</h1>
            <p class="font-main text-justify">Welcome to Sugra Games, your gateway to the exciting world of indie gaming! We are passionate about bringing unique, innovative, and captivating games to players around the globe.</p>
            <p class="font-main text-justify">Our mission is to support independent game developers and provide a platform where gamers can discover hidden gems and upcoming titles that push the boundaries of creativity in the gaming industry.</p>
            <p class="font-main text-justify">At Sugra Games, we believe in the power of indie games to tell compelling stories, introduce groundbreaking mechanics, and offer experiences that challenge the status quo. Join us in celebrating the diversity and ingenuity of indie game development!</p>
        </div>
        <div class="col-md-6 text-center mt">
            <img src="{% static 'images/sugra_logo.png' %}" alt="Sugra Games Logo" class="img-fluid mb-4" style="max-width: 300px;">
            <h2 class="font-cta">Discover. Play. Support.</h2>
            <p class="font-banner">Empowering indie developers and gamers since 2024</p>
        </div>
    </div>
</div>
{% endblock %}