{% extends 'base.html' %}

{% block title %}
{{ game.title }}
{% endblock %}

{% block body %}
<div class="container mt-4 text-center">
    <h1 class="font-banner mb-4" style="color: var(--bright-yellow-color);">{{ game.title }}</h1>
    <img src="{{ game.get_thumbnail }}" alt="{{ game.title }} Thumbnail" class="img-fluid mb-4">
    <p class="font-main"><strong>Description:</strong> {{ game.description }}</p>
    <p class="font-main"><strong>Genre:</strong> {{ game.genre }}</p>
    <p class="font-main"><strong>Price: </strong>€{{ game.price }}</p>
    <p class="font-main"><strong>Developer: </strong><a class="font-cta text-main-bg" style="color: var(--main-bg-color);" href="{% url 'developer_profile' username=game.developer.username %}">{{ game.get_developer_name }}</a></p>
    <a href="{{ game.file_url }}" class="btn btn-outline-custom font-cta" style="background-color: var(--main-bg-color); color: var(--bright-yellow-color);">Download</a>
    <!-- Add purchase functionality here in the future -->
</div>
{% endblock %}