{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Set Your Account Details" %}</h2>
<form method="post">
    {% csrf_token %}
    <h3>{% trans "Choose Your Username" %}</h3>
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.username.errors }}

    <h3>{% trans "Choose Your User Type" %}</h3>
    {{ form.user_type }}
    {{ form.user_type.errors }}
    
    <h3>{% trans "Set Your Password" %}</h3>
    <p>{% trans "This password will allow you to log in directly, in addition to using your social account." %}</p>
    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}
    {{ form.new_password1.errors }}
    
    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}
    {{ form.new_password2.errors }}
    
    <button type="submit">{% trans "Save" %}</button>
</form>
{% endblock %}